<header class="header" qaRouterNavigation>
  <div class="wrapper">
    <div class="header__group">
      <div class="logo">
        <a href="/home">
          <img src="/static/images/demo-logo.jpeg" alt="logo-image">
        </a>
      </div>
      <nav class="nav" data-nav="">
        <div class="nav__burger" data-nav-burger="">
          <img src="/static/images/menu.svg" alt="menu">
        </div>
        <div class="nav__box">
          <div class="nav__close" data-nav-close="">
            <img src="/static/images/close.svg" alt="close menu">
          </div>
          <div class="nav__menu">
            <ul class="nav__list">
              <li *ngFor="let item of items$ | async" class="nav__list-item" data-menu-item="" [attr.data-id]="item.id">
                <div class="menu-category menu-category--main" data-menu-link="">
                  <a *ngIf="!item.children?.length else itemNotLink" class="menu-category__link" [attr.href]="item.href">{{ item.title }}</a>
                  <ng-template #itemNotLink>
                    <span class="menu-category__link">{{ item.title }}</span>
                    <span class="menu-category__arrow" data-menu-arrow=""></span>
                  </ng-template>
                </div>
                <div *ngIf="item.children?.length" class="nav__submenu">
                  <div class="wrapper">
                    <div class="nav__submenu-group">
                      <ul class="menu" [attr.data-parentid]="item.id">
                        <li *ngFor="let subcol of item.children" class="menu__item" data-menu-item="" [attr.data-id]="subcol.id">
                          <div class="menu-category " data-menu-link="">
                            <a class="menu-category__link" [attr.href]="subcol.href">{{ subcol.title }}</a>
                            <span *ngIf="subcol.children?.length" class="menu-category__arrow" data-menu-arrow=""></span>
                          </div>
                          <ul class="menu" [attr.data-parentid]="subcol.id">
                            <li *ngFor="let subitem of subcol.children" class="menu__item" data-menu-item="" [attr.data-id]="subitem.id">
                              <a class="menu-link" [attr.href]="subitem.href">{{ subitem.title }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

