<header class="header" qaRouterNavigation>
    <div class="wrapper">
        <div class="header__group">
            <div class="logo"><a href="/home"> <img src="/static/images/demo-logo.jpeg" alt="logo-image"></a></div>
            <nav class="nav" data-nav="">
                <div class="nav__burger" data-nav-burger=""><img src="/static/images/menu.svg" alt="menu"></div>
                <div class="nav__box">
                    <div class="nav__close" data-nav-close=""><img src="/static/images/close.svg" alt="close menu">
                    </div>
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__list-item" data-menu-item="" data-id="24">
                                <div class="menu-category menu-category--main" data-menu-link="">
                                    <span class="menu-category__link">О Компании</span>
                                    <span class="menu-category__arrow" data-menu-arrow=""></span>
                                </div>
                                <div class="nav__submenu">
                                    <div class="wrapper">
                                        <div class="nav__submenu-group">
                                            <ul class="menu" data-parentid="24">
                                                <li class="menu__item" data-menu-item="" data-id="0">
                                                    <div class="menu-category " data-menu-link="">
                                                        <a class="menu-category__link" href="/about/about_company">О
                                                            компании</a>
                                                        <span class="menu-category__arrow" data-menu-arrow=""></span>
                                                    </div>
                                                    <ul class="menu" data-parentid="0">
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link" href="/about/about_company/what-we-do">Что
                                                                мы делаем</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link" href="/about/about_company/contacts">Контакты</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link" href="/about/about_company/feedback">Обратная
                                                                связь</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu__item" data-menu-item="" data-id="0">
                                                    <div class="menu-category " data-menu-link="">
                                                        <a class="menu-category__link"
                                                           href="/about/corporate_governance">Корпоративное
                                                            управление</a>
                                                        <span class="menu-category__arrow" data-menu-arrow=""></span>
                                                    </div>
                                                    <ul class="menu" data-parentid="0">
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/corporate_governance/committees_of_the_board_of_directors">Комитеты
                                                                Совета директоров</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/corporate_governance/corporate_secretary">Корпоративный
                                                                секретарь</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/corporate_governance/company_documents">Документы
                                                                компании</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu__item" data-menu-item="" data-id="0">
                                                    <div class="menu-category " data-menu-link="">
                                                        <a class="menu-category__link"
                                                           href="/about/compliance_and_business_ethics">Комплаенс и
                                                            деловая этика</a>
                                                        <span class="menu-category__arrow" data-menu-arrow=""></span>
                                                    </div>
                                                    <ul class="menu" data-parentid="0">
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/compliance_culture">Культура
                                                                соблюдения</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/compliance_function">Функция
                                                                соответствия</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/unified_compliance_system">Единая
                                                                система комплаенс</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/anticorruption_policies">Антикорупционная
                                                                политика</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/third_parties">Компания
                                                                и третьи стороны</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/code_of_conduct">Нормы
                                                                поведения</a>
                                                        </li>
                                                        <li class="menu__item" data-menu-item="" data-id="0">
                                                            <a class="menu-link"
                                                               href="/about/compliance_and_business_ethics/unified_hotline">Единая
                                                                горячая линия</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav__list-item" data-menu-item="" data-id="15">
                                <div class="menu-category menu-category--main" data-menu-link="">
                                    <span class="menu-category__link">Новости</span>
                                    <span class="menu-category__arrow" data-menu-arrow=""></span>
                                </div>
                                <div class="nav__submenu">
                                    <div class="wrapper">
                                        <div class="nav__submenu-group">
                                            <ul class="menu" data-parentid="15">
                                                <li class="menu__item" data-menu-item="" data-id="0">
                                                    <div class="menu-category " data-menu-link="">
                                                        <a class="menu-category__link"
                                                           href="/news_and_events/corporate_releases">Новости
                                                            компании</a>
                                                    </div>
                                                    <ul class="menu" data-parentid="0"></ul>
                                                </li>
                                                <li class="menu__item" data-menu-item="" data-id="0">
                                                    <div class="menu-category " data-menu-link="">
                                                        <a class="menu-category__link"
                                                           href="/news_and_events/technology_news">Новости ИТ</a>
                                                    </div>
                                                    <ul class="menu" data-parentid="0"></ul>
                                                </li>
                                                <li class="menu__item" data-menu-item="" data-id="0">
                                                    <div class="menu-category " data-menu-link="">
                                                        <a class="menu-category__link"
                                                           href="/news_and_events/subscribe">Подписка на новости</a>
                                                    </div>
                                                    <ul class="menu" data-parentid="0"></ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav__list-item" data-menu-item="" data-id="455">
                                <div class="menu-category menu-category--main" data-menu-link="">
                                    <a class="menu-category__link" href="/media">Медиа</a>
                                </div>
                            </li>
                            <li class="nav__list-item" data-menu-item="" data-id="431">
                                <div class="menu-category menu-category--main" data-menu-link="">
                                    <a class="menu-category__link" href="/sitemap">Карта сайта</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
